<h1 class="pagetitle">Listing players</h1>

<table>
  <tr>
    <th>Player</th>
	<% if logged_in? %>
		<td><%= link_to 'New player', new_player_path %></td>
	<% end %>
  </tr>

<% for player in @players %>
  <tr>
    <td><%= link_to player.full_name, player %></td>
	<% if logged_in? %>
    <td><%= link_to 'Edit', edit_player_path(player) %> |
    	<%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %>
	</td>
	<% end %>
  </tr>
<% end %>
</table>
