<div id='<%=id_prefix%><%=dom_id entry%>_tile' class="entries-tile">
	<% remote_form_for([tournament, entry]) do |f| -%>
	<%= render :partial => 'entries_form', :object => f, :locals => {:tournament => tournament, :entry => entry, :button => "Update" }%>
	<% end -%>
</div>