<li id = '<%=id_prefix%><%=dom_id entry%>' class='entries-row'>
	<%= render :partial => "tournament_entries/entries_tile", :locals => {:tournament => tournament, :entry => entry, :id_prefix => id_prefix} %>
</li>