<% breadcrumbs_for home_crumb, leagues_crumb, league_crumb(@tournament.league), 
	league_tournament_crumb(@tournament.league, @tournament), tournament_entry_crumb(@tournament, @entry) %>
<h1 class="block">Entries on <%= link_to @tournament.formatted_start, league_tournament_path(@tournament.league, @tournament) %>
</h1>
<div class="column1-unit">
	<ul class="tile-list">
				
		<% for entry in @tournament.entries.sort{|e1, e2| (e1.result || 0) <=> (e2.result || 0) } do -%>
		<li "entries-row">
			<%= render :partial => "entries_tile", :locals => {:entry => entry, :id_prefix => ''} %>
		</li>
		<% end -%>
	</ul>
</div>