<% breadcrumbs_for home_crumb, leagues_crumb, league_crumb(@league), league_tournaments_crumb(@league) -%>
<h1 class="block">List of All League Tournaments</h1>
<div class="column1-unit">
	<table>
		<tr>
			<th>Tournament</th>
			<th>Description</th>
			<th>Buyin</th>
			<% if logged_in? -%>
			<td><%= link_to 'New tournament', new_league_tournament_path(@league), :onclick => "Element.toggle('new_tournament'); return false;" %></td>
			<% end -%>
		</tr>
		<% content_tag_for(:tr, tournament = Tournament.new, :style => "display: none;") do -%>
			<%= render :partial => "league_tournament_new_item", :object => tournament, :locals => {:league => @league} %>
		<% end %>
		<%= render :partial => "league_tournament_item", :collection => @tournaments, :locals=> {:league => @league} %>
	</table>
</div>